body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    display: flex;
    position: relative;
}

#map {
    height: 90vh;
    width: 100vw;
}

/* Loading Indicator */
#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    display: none;
}


header {
    background-color: #d8edbd;
    padding: 10px 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 30%;
    color: #3E5E2C;
}

nav {
    flex-grow: 1;
    text-align: right;
    margin-right: 5%;
    margin-top:5px;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1vw;
}

nav ul li a.active {
    border-bottom: 2px solid black;
}

.search-icon img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.sidebar {
    background-color: #1e1e1e;
    padding: 20px;
    width: 200px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Transition for smooth fade */
    pointer-events: none; /* Prevent interactions when hidden */
    position: absolute; /* Position absolutely */
    left: 0; /* Align to the left */
    top: 0; /* Align to the top */
    height: 100%; /* Full height */
    z-index: 10; /* Ensure it's on top */
}
.sidebar.show {
    opacity: 1; /* Show sidebar */
    pointer-events: auto; /* Allow interactions */
}
.sidebar img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.sidebar h2 {
    color: #9c27b0;
}
.sidebar a {
    color: #e0e0e0;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}
.sidebar a:hover {
    color: #9c27b0;
}
.main {
    flex: 1;
    padding: 20px;
    margin-left: 200px; /* Leave space for the sidebar */
    position: relative; /* Position relative for sidebar effect */
}
#map {
    height: 200px; /* Height for map */
    margin-bottom: 20px;
    border: 2px solid #5c4d9e;
    border-radius: 10px;
}
canvas {
    width: 100%; /* Make the canvas responsive */
    height: 300px; /* Increased height */
    border: 2px solid #5c4d9e;
    border-radius: 10px;
    background-color: #1e1e1e;
}
h1 {
    color: #9c27b0;
    text-align: center;
}
#temperatureDisplay {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #e0e0e0;
}
/* Icon for showing the sidebar */
#showSidebarIcon {
    position: fixed; /* Fix position for visibility */
    left: 10px; /* Distance from the left */
    top: 10px; /* Distance from the top */
    font-size: 36px; /* Size of the icon */
    color: #e0e0e0; /* Color of the icon */
    cursor: pointer; /* Change cursor to pointer */
    transition: color 0.3s; /* Smooth color change */
    z-index: 20; /* Ensure icon is above other elements */
}
#showSidebarIcon:hover {
    color: #9c27b0; /* Change color on hover */
}